/Q1StudentData.class
/Q2StudentSearch.class
/Q3CntCharFrq.class
/Q4CntWordFeq.class
/Q5EmpSalary.class
/Q6Product.class
/Q7KeyExistence.class
/Q8MapSize.class
/Q9RemoveEntry.class
/Q10DisplayKeyVal.class
/Q11HighestSal.class
/Q12LowestSal.class
/Q13EvenOddCnt.class
