/Q1StudentData.class
/Q2StudentSearch.class
/Q3CntCharFrq.class
/Q4CntWordFeq.class
/Q5EmpSalary.class
/Q6Product.class
/Q7KeyExistence.class
/Q8MapSize.class
/Q9RemoveEntry.class
/Q10DisplayKeyVal.class
/Q11HighestSal.class
/Q12LowestSal.class
/Q13EvenOddCnt.class
/Q14SortMap.class
/Q15DuplicateChar.class
/Q16DuplicateWord.class
/Q17CalculateMarks.class
/Q18FreqNumber.class
/Q19NonRepeatChar.class
/Q20MergeMap.class
/Q21SecondHighestSal.class
/Q22MaxFreqChar.class
/Q23SortMapValues.class
/SortbyMarks.class
/Student.class
